img {
    height: 100px;
    width: 45px;
}

.image, .movie {
    margin-left: 2%;
    vertical-align: middle;
    display: inline;
}

.container {
  margin-bottom: 15px;
}

.actions button {
  margin-right: 5px;
}