.size-1 {
    height: 145px;
    width: 95px;
}

.size-2 {
    height: 50%;
    width: 50%;
}

.image, .movie {
    margin-left: 2%;
    vertical-align: middle;
    display: inline;
}

.container {
    margin-bottom: 15px;
}

.actions button {
    margin-right: 5px;
}